<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.scujcc.licaiapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="cn.edu.scujcc.licaiapp.other.OutManageActivity"></activity>
        <activity android:name="cn.edu.scujcc.licaiapp.other.InManageActivity" />
        <activity android:name="cn.edu.scujcc.licaiapp.activity.SysSettingActivity" />
        <activity android:name="cn.edu.scujcc.licaiapp.activity.DataAnalyseActivity" />
        <activity android:name="cn.edu.scujcc.licaiapp.activity.PayDetailActivity" />
        <activity android:name="cn.edu.scujcc.licaiapp.activity.NewPayActivity" />
        <activity android:name="cn.edu.scujcc.licaiapp.activity.InComeDetailActivity" />
        <activity android:name="cn.edu.scujcc.licaiapp.activity.NewInComeActivity" />
        <activity android:name="cn.edu.scujcc.licaiapp.view.RegisterActivity" />
        <activity android:name="cn.edu.scujcc.licaiapp.view.LoginActivity" />
        <activity android:name="cn.edu.scujcc.licaiapp.view.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cn.edu.scujcc.licaiapp.view.MainActivity" >

        </activity>
    </application>

</manifest>